body {
  background-color: #716C74;
  text-align: center;
  font-family: sans-serif;
  color: black;
}

.body_container {
  margin:0 auto;
  width: 800px;
  background-color: #888597;
  border-radius: 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  border: 5px solid #16C73;
}

h1 {
  font-family: 'Impact', sans-serif;
  font-weight: 800; 
  font-size: 50px;
  text-shadow: 4px 4px #A61300;
  color: #4C4D5F;
}

.server_info {
  text-align: left;
}

.box{
  border: 1px solid #716C74 ;
  clear: both;
}

.box-tall{
  min-height: 85px;
}

.left {
  padding-left: 10px;
  width: 200px;
  float: left;
}

.right {
  padding-right: 10px;
  width: 500px;
  float: right;
}

.messages {
  font-size: 10px;
  text-align: left;
}